.utils
	View in:&nbsp;&nbsp;
	- unless @meta.map_link.nil?
		%span.map-link
			%a{:href => "#{map_url(@meta.map_link.content)}"}
				%span.util-link Browser
				%img(src = '/images/browser.png')/
		&nbsp;&nbsp;|&nbsp;&nbsp;
	- unless @meta.layers.first.nil?
		%span.kml-link
			- @layers = ''
			- @meta.layers.each do |lyr|
				- @layers = @layers + lyr.content + ','
			= "<a href='#{kml_url(@layers.chop)}'><span class='util-link'>Google Earth (KMZ)</span><img src='/images/ge.gif'/></a>"